.base {
    font-size: 48px;
    font-weight: 100;
    font-family: 'Pacifico', sans-serif;
}

.title{
    text-align: center;
    background-color: rgba(87, 87, 223, 0.863);
    color: rgba(1, 36, 1, 0.973);
}

.author {
    font-size: 20px;
}

.recipe {
    font-size: 28px;
}

.return {
    font-size: 20px;
    background-color: rgba(87, 87, 223, 0.863);
}

.fine {
    font-family: 'Pacifico', sans-serif;
}

.description {
    font-size: 20px;
}